$color-background: #fbf8ec;
$color-primary: #ff6633;
$color-text-secondary: #70c05b;
$color-discount: #008c49;
$color-stock: #1cb9fc;
$color-slider: $color-primary;
$color-slider-hover: #d80000;
$color-slider-line: #8f8f8f;
$color-tile-border: #bfbfbf;
$color-tile-background: #ffffff;
$color-filter-link: $color-primary;

$tablet-width: 600px;
$mobil-width: 390px;
