.cart-item {
  display: flex;
  justify-content: start;
  font-size: 1.6rem;
  align-items: center;
  width: 100%;
  height: 120px;
  gap: 10px;
  padding-right: 15px;
}

.cart-item__number {
  display: flex;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: solid 1px black;
  gap: 10px;
  margin-left: 10px;
}

.cart-item__wrapper-img {
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 10px;
  align-self: center;
  margin-top: 7px;
  margin-bottom: 7px;
}

.cart-item__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cart-item__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
}

.cart-item__title {
  font-size: 2rem;
}

.cart-item__description {
  font-size: 1em;
  width: 90%;
  margin-top: 7px;
  margin-bottom: 7px;
}

.cart-item__border {
  height: 2px;
  width: 90%;
  background-color: aqua;
}

.cart-item__rating-discount {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-around;
}

.cart-item__rating {
  color: rgb(89, 38, 38);
  border: solid 1px #00ffff;
  border-radius: 4px;
  padding: 4px;
}

.cart-item__discount {
  color: rgb(89, 38, 38);
  border: solid 1px #00ffff;
  border-radius: 4px;
  padding: 4px;
}

.cart-item__count {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cart-item__stock {
  color: rgb(89, 38, 38);
  border: solid 1px #00ffff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.cart-item__price {
  color: rgb(89, 38, 38);
  border: solid 1px #00ffff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 3px;
}

.cart-item__count-number {
  font-size: 1.8rem;
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cart-item__point {
  cursor: pointer;
}

.cart-item__point:hover {
  color: rgb(247, 183, 8);
}

.cart-item__page {
  display: flex;
}
