.cart-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
 
    padding: 10px 10px 10px 10px;
    gap: 20px;
    width: 60v;
    position: relative;
}
.cart-empty{
    position: absolute;
   top: 100px;

}


.cart-list__title {
    position: relative;
    display: flex;
    
    justify-content: space-between;
 
    padding: 10px 10px 10px 10px;
    gap: 20px;
    width: 60v;
}
